<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fudan.leon.mpdemo.dao.UserMapper">
    <select id="selectAll" resultType="fudan.leon.mpdemo.entity.User">
        select * from mp_user ${ew.customSqlSegment}
    </select>

    <select id="selectUserPage" resultType="fudan.leon.mpdemo.entity.User">
        select * from mp_user ${ew.customSqlSegment}
    </select>
    <select id="findById" resultType="fudan.leon.mpdemo.entity.User">
        select * from mp_user where id=#{id}
    </select>
</mapper>